<nav class="ui menu navbar">
  <div class="nav-container">
    <%= link_to root_path, class: "item" do %>
      <i class="camera retro icon"></i>
      <strong>Photowall</strong>
    <% end %>
      <%= link_to new_post_path, class: "item" do %>
        <i class="plus circle icon"></i>
        <strong>New Post</strong>
      <% end %>
  </div>
</nav>
