/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "semantic-ui";

.navbar {
  position: fixed;
  top: 0;
  z-index: 500;
  border-radius: 0 !important;
  width: 100%;
}

.nav-container {
  width: 100%;
  max-width: 1200px !important;
  display: flex;
  justify-content: space-between;
  margin: auto !important;
}

.content-wrapper {
  margin: 5rem 0;
}

// Override semantic-ui menu item styles (used in navbar)
.item {
  border-left: solid 1px #ddd;
  border-right: solid 1px #ddd;
}
.item::before {
  background: none !important;
  background-color: none !important;
}

// Override weird side effect of semantic-ui which turned any a tag's background
// black on hover
a:hover {
  background: transparent;
}
