<!DOCTYPE html>
<html>
  <head>
    <title>Photowall</title>
    <%= render 'shared/head' %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <div data-behavior="vue">
      <%= yield %>
    </div>
  </body>
</html>
